@font-face {
  font-family: "unpack-regular";
  src: url("./Font/PintassilgoPrints\ -\ Unpack\ Regular.otf");
}
@font-face {
  font-family: "poor-story";
  src: url("./Font/PoorStory-Regular.ttf");
}

body {
  font-family: "poor-story";
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.flip-card {
  background-color: transparent;
  height: 60vh;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}



.frontPhone {
  width: 85vw;
 cursor: pointer;
 outline: none;
}


.reversePhone {
  width: 81vw;
}

.reverse {
  width: 90vw; 
  
}

.front {
  width: 90vw;
  cursor: pointer;
    outline: none;
}


@media all and (orientation: landscape){
.reversePhone {
 width: 23vw;

}

.frontPhone {
  width: 25vw;
 }
 

.reverse {
 width: 30vw;
}


.front {
  width: 30vw;
}

}

@media only screen and (device-width: 768px) {
  .reversePhone {
    width: 58vw;
   }

   .reverse {
    width: 75vw;
   }
}

@media only screen and (device-height: 1024px) {
  .reversePhone {
    width: 23vw;
   }
   
   .reverse {
    width: 28vw;
   }

}

@media only screen and (device-height: 1366px) {
  .reversePhone {
    width: 59vw;
   }

   .reverse {
    width: 65vw;
   }

}

@media only screen and (device-height: 540px) {
  .reversePhone {
    width: 23vw;
   }

   .reverse {
    width: 28vw;
   }
}

@media only screen and (device-height: 720px) {
  .frontPhone {
    width: 60vw;
   }
 
 
  .reversePhone {
    width: 56vw;
   }

   .reverse {
    width: 65vw;
   }

   .front {
    width: 65vw;
  }
}