@font-face {
  font-family: "unpack-regular";
  src: url("./Font/PintassilgoPrints\ -\ Unpack\ Regular.otf");
}
@font-face {
  font-family: "poor-story";
  src: url("./Font/PoorStory-Regular.ttf");
}

body {
  font-family: "poor-story";
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.flip-card {
  background-color: transparent;
 position: absolute;
 top: 6%;
 width: 85%;
 height:85%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front1,
.flip-card-back1,
.flip-card-front2,
.flip-card-back2,
.flip-card-front3,
.flip-card-back3,
.flip-card-front4,
.flip-card-back4,
.flip-card-front5,
.flip-card-back5
 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front1{
  background-image: url("./Images/pick-a-chew.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.flip-card-front2{
  background-image: url("./Images/code.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.flip-card-front3{
  background-image: url("./Images/nurserie.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.flip-card-front4{
  background-image: url("./Images/collage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.flip-card-front5{
  background-image: url("./Images/collage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}



/* Style the back side */
.flip-card-back1 {
  transform: rotateY(180deg);
  background-image: url("./Images/reversePick-a-chew.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.flip-card-back2 {
  transform: rotateY(180deg);
  background-image: url("./Images/reverseCode.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.flip-card-back3 {
  transform: rotateY(180deg);
  background-image: url("./Images/reverseNurserie.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.flip-card-back4 {
  transform: rotateY(180deg);
  background-image: url("./Images/reverseCollage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.flip-card-back5 {
  transform: rotateY(180deg);
  background-image: url("./Images/reverseCollage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.footerLink{
  background-image:url('./Images/link.png');
   width:30%;
    height:100%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footerCv{
  background-image:url('./Images/cv.png');
   width:30%;
    height:100%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footerGit{
  background-image:url('./Images/git.png');
   width:30%;
    height:100%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.about{
   max-width: 1440px;
   margin: 0;
}

